<header class="main-header">
    <div class="container">
        <nav class="navbar">
            <div class="nav-left">
                <a href="#" class="logo">
                    <img src="../main/images/logo.png" alt="Linxzee Logo" class="logo-image">
                    <span>Linxzee</span>
                </a>
            </div>
            <div class="nav-right">
                <div class="nav-links">
                    <a href="/">首页</a>
                    <a href="/download.html">下载中心</a>
                    <a href="https://github.com/linxzee/phone-tool/" target="_blank" rel="noopener noreferrer">项目</a>
                </div>
                <div class="nav-divider"></div>
                <div class="nav-actions">
                    <button id="theme-toggle-btn" class="theme-toggle" title="切换主题">
                        <img class="sun-icon" src="../main/images/sun.svg" alt="亮色模式">
                        <img class="moon-icon" src="../main/images/moon.svg" alt="暗色模式">
                    </button>
                    <a href="https://github.com/linxzee/phone-tool/" aria-label="GitHub" class="github-link" target="_blank" rel="noopener noreferrer">
                        <img src="../main/images/github-fill.svg" alt="GitHub" class="github-icon">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>